form {
  .form-group.stacked {
    label {
      flex: 0 0 100%;
    }
    label.checkbox {
      flex: auto;
      text-align: left;
      line-height: 20px;
      font-size: @fontSizeSmall;

      input[type="checkbox"] {
        height: unset;
        margin: unset;
      }
    }
  }
}

/* Unrolled inline roll; copy normal inline roll format */
.inline-preroll.inline-formula {
  background: #ddd;
  padding: 1px 4px;
  border: 1px solid #4b4a44;
  border-radius: 2px;
  white-space: nowrap;
  word-break: break-all;
}

/* Tooltip text */
.tooltip .tooltipcontent {
  font-family: sans-serif;
  font-size: @fontSizeSmall;
  font-weight: normal;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--color-text-light-0);
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  line-height: 13px;
  min-width: 128px;
  white-space: normal;

  /* Position the tooltip text */
  position: fixed;
  z-index: 1;

  // Faster tooltips
  transform: translateZ(0);

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;

  /* Setup tooltips as a grid */
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-auto-rows: min-content;
  gap: 1px 3px;
  align-items: center;

  .span1 {
    white-space: nowrap;
  }
  .span2 {
    grid-column: span 2;
    white-space: nowrap;
  }
  .span3 {
    grid-column-start: 1;
    grid-column-end: span 3;
  }

  .tooltipcontent-context {
    grid-column: span 3;
  }
  .align-right {
    text-align: right;
  }
  .align-rightspaced {
    text-align: right;
    padding-inline: 15px 15px;
  }
  .align-left {
    text-align: left;
  }

  .entity-link.content-link,
  .inline-preroll.inline-formula {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    i.fa-dice-d20 {
      color: #a0a099;
    }
  }

  .inline-roll {
    border-color: var(--color-border-dark-5);
    background: none;
  }
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltipcontent {
  visibility: visible;
  pointer-events: none;
  opacity: 1;
}

/* .sidebar-tab[data-tab="compendium"] { */
/* footer { */
/* flex-direction: column; */

/* span { */
/* margin: 0 3px; */
/* padding: 2px 7px; */
/* } */
/* } */
/* } */

.hide.hidden {
  display: none;
}

.icon-label {
  position: absolute;
  -webkit-text-stroke: 1px black;
  font-weight: bold;
  font-size: @fontSizeNormal;
  color: white;
}

span.text-box {
  display: inline-block;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 3px;
  color: black;
  min-width: 20px;
  width: calc(100% - 2px);
  padding: 1px 3px;
  cursor: text;
  min-height: 20px;

  &.readonly {
    cursor: initial;
  }
  &:hover {
    box-shadow: 0 0 8px red;
    border-color: black;
  }
}

input.text-box {
  text-align: center;
}

.pf1 {
  a.disabled {
    * {
      color: @colorBeige;
    }
    text-shadow: 0 0 rgba(0, 0, 0, 0);
    cursor: auto;
  }

  table {
    margin: 0;

    thead {
      .icon {
        background-color: white;
      }
    }

    tbody {
      th {
        background: rgba(127, 127, 127, 0.5);
        color: white;
        text-shadow: 1px 1px black;
      }
    }

    tr {
      td:not(.nocenter),
      th:not(.nocenter) {
        text-align: center;
      }
    }

    td:not(:last-child),
    th:not(:last-child) {
      border-right: 1px solid black;
    }
  }

  .item-list-search {
    display: flex;
    flex-wrap: nowrap;
    flex: 0 12em;

    & ~ .currency {
      margin-left: 1em;
    }
    .search-input {
      border: 1px solid @colorTan;
      background-color: rgba(255, 255, 255, 0.6);

      // Clear Foundry's styling
      height: unset;

      & ~ .clear-search {
        margin-left: -1.45em;
        margin-right: 0.1em;
        margin-top: 1px;
        color: @colorTan;
        align-self: center;
        padding: 2px;
        &:hover {
          text-shadow: 0 0 5px rgba(255, 70, 70, 0.8);
          color: black;
        }
      }
    }
  }
}

#settings #pf1-details > ul {
  padding: 3px 8px;
  margin: 0;
}

.compendium-sidebar[data-tab="compendium"] footer.action-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
  gap: 3px;
  padding: 0.5rem; // For v10 to have comparable styling to v11

  button {
    // Overide Foundry's style
    margin: 0;
    width: unset;
    white-space: break-spaces;
    min-width: unset;
    height: unset;
    line-height: 1.5;
    min-height: 2em;
  }

  .colspan-2 {
    grid-column: span 2;
  }
}

.pf1 div.container {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  border: @borderLightThin;
  padding: 2px;
  margin: 0.75em 0;
}
